.dashboardPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 50px;  
    }

  .formContainer {    
    margin-top: auto;
    margin-bottom: 20px;
    width: 50%;
    background-color: #222222;
    border-radius: 40px;
    display: flex;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 5px;

      input {
        flex: 1;
        padding: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #ececec;
      }
      button {
        background-color: #999999;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
      }
    }
  }
}